[Desktop Entry]
Encoding=UTF-8
Name=Link to dot com companies examples
Type=Link
URL=https://www.google.com/search?client=ubuntu&hs=UzX&sxsrf=AOaemvJqMLuIxb94QYGh_hLyFMvT6nxYig%3A1642434152850&lei=aI7lYZuIM7Tk7_UPk9moqAs&q=dot%20com%20companies%20examples&ved=2ahUKEwib3PyBkLn1AhU08rsIHZMsCrUQsKwBKAN6BAhOEAQ
Icon=text-html
